
<!-- Company detail header -->
<div class="container-fluid job-detail-wrap">
  <div class="container job-detail">
    <div class="job-detail-header">
      <div class="row">
        <div class="col-md-2 col-sm-12 col-12">
          <div class="job-detail-header-logo">
            <a>
              <img src="http://localhost:8000/storage/company/{{currentUser.user.image}}" class="job-logo-ima"
                   alt="job-logo">
            </a>
          </div>
        </div>
        <div class="col-md-7 col-sm-12 col-12">
          <div class="job-detail-header-desc">
            <div class="job-detail-header-title">
              <a>{{currentUser.user.name}}</a>
            </div>
            <div class="job-detail-header-company">
              <a href="#"></a>
            </div>
            <div class="job-detail-header-de">
              <ul>
                <li><i class="fa fa-map-marker icn-jd"></i><span>{{currentUser.address}}</span></li>
                <li><i class="fa fa-user-o icn-jd"></i>Nhân sự: <span>{{currentUser.employees}}+</span></li>
                <li><i class="fa fa-calendar icn-jd"></i><span>Monday - Friday</span></li>
                <li><i class="fa fa-archive icn-jd"></i><span>Outsourcing</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- (end) job detail header -->

<div class="clearfix"></div>

<!-- Phần thân -->
<div class="wrapper">
  <div class="container">
    <div class="row">
      <!-- Main wrapper -->
      <div class="col-md-8 col-sm-12 col-12 clear-left">
        <div class="main-wrapper">
          <h2 class="widget-title">
            <span>{{currentUser.user.name}} Jobs</span>
          </h2>
          <div class="jd-content">

            <div class="job pagi">
              <div class="job-content">
                <div class="job-logo">
                  <a href="#">
                    <img src="http://localhost:8000/storage/company/{{currentUser.user.image}}" class="job-logo-ima" alt="job-logo">
                  </a>
                </div>

                <div class="job-desc">
                  <div class="job-title">
                    <a href="#">[HCM] 02 Solution Architects–Up to $2000</a>
                  </div>
                  <div class="job-company">
                    <a href="#">Fpt Software</a> | <a href="#" class="job-address"><i class="fa fa-map-marker"
                                                                                      aria-hidden="true"></i>
                    Đà Nẵng</a>
                  </div>

                  <div class="job-inf">
                    <div class="job-main-skill">
                      <i class="fa fa-code" aria-hidden="true"></i> <a href="#"> Java</a>
                    </div>
                    <div class="job-salary">
                      <i class="fa fa-money" aria-hidden="true"></i>
                      <span class="salary-min">15<em class="salary-unit">triệu</em></span>
                      <span class="salary-max">35 <em class="salary-unit">triệu</em></span>
                    </div>
                    <div class="job-deadline">
                      <span><i class="fa fa-clock-o"
                               aria-hidden="true"></i>  Hạn nộp: <strong>31/12/2019</strong></span>
                    </div>
                  </div>
                </div>
                <div class="wrap-btn-appl">
                  <button type="button" class="btn btn-outline-danger">Chỉnh sửa</button>
                </div>
              </div>
            </div>


          </div>
        </div>


      </div>


      <!-- Sidebar -->
      <div class="col-md-4 col-sm-12 col-12 clear-right">
        <div class="side-bar mb-3">
          <h2 class="widget-title">
            <span>Thông tin</span>
          </h2>

          <div class="job-info-wrap">
            <div class="job-info-list">
              <div class="row">
                <div class="col-sm-4">
                  <span class="ji-title">Nơi làm việc:</span>
                </div>
                <div class="col-sm-8">
                  <span class="ji-main">Đà Nẵng</span>
                </div>
              </div>
            </div>

            <div class="job-info-list">
              <div class="row">
                <div class="col-sm-4">
                  <span class="ji-title">Cấp bậc:</span>
                </div>
                <div class="col-sm-8">
                  <span class="ji-main">Nhân viên</span>
                </div>
              </div>
            </div>

            <div class="job-info-list">
              <div class="row">
                <div class="col-sm-4">
                  <span class="ji-title">Lương:</span>
                </div>
                <div class="col-sm-8">
                  <span class="ji-main">1000$ - 3000$</span>
                </div>
              </div>
            </div>

            <div class="job-info-list">
              <div class="row">
                <div class="col-sm-4">
                  <span class="ji-title">Hạn nộp:</span>
                </div>
                <div class="col-sm-8">
                  <span class="ji-main">31/12/2019</span>
                </div>
              </div>
            </div>

            <div class="job-info-list">
              <div class="row">
                <div class="col-sm-4">
                  <span class="ji-title">Ngành nghề:</span>
                </div>
                <div class="col-sm-8">
                  <span class="ji-main">Quảng cáo, Đối ngoại</span>
                </div>
              </div>
            </div>

            <div class="job-info-list">
              <div class="row">
                <div class="col-sm-4">
                  <span class="ji-title">Kỹ năng:</span>
                </div>
                <div class="col-sm-8">
                  <span class="ji-main">PR Activity</span>
                </div>
              </div>
            </div>

            <div class="job-info-list">
              <div class="row">
                <div class="col-sm-4">
                  <span class="ji-title">Kinh nghiệm:</span>
                </div>
                <div class="col-sm-8">
                  <span class="ji-main">1 năm</span>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- (end) Phần thân-->

