<div class="clearfix"></div>


<!-- job detail header -->
<div class="container-fluid job-detail-wrap">
  <div class="container job-detail">
    <div class="job-detail-header">
      <div class="row">
        <div class="col-md-2 col-sm-12 col-12">
          <div class="job-detail-header-logo">
            <a href="#">
              <img src="http://localhost:8000/storage/company/{{job.company.image}}" class="job-logo-ima" alt="job-logo">
            </a>
          </div>
        </div>
        <div class="col-md-7 col-sm-12 col-12">
          <div class="job-detail-header-desc">
            <div class="job-detail-header-title">
              <a href="#">[{{job.city.name}}] {{job.title}} – Up
                to {{job.upto | currency: 'VND'}}</a>
            </div>
            <div class="job-detail-header-company">
              <a href="#">{{job.category.name}}</a>
            </div>
            <div class="job-detail-header-de">
              <ul>
                <li><i class="fa fa-map-marker icn-jd"></i><span>{{job.city.name}}</span></li>
                <li><i class="fa fa-usd icn-jd"></i><span class="salary-min">{{job.from_salary | currency: 'VND'}}</span>
                  <span class="salary-max">{{job.to_salary | currency: 'VND'}}</span></li>
                <li><i class="fa fa-calendar icn-jd"></i><span>{{job.expire}}</span></li>
              </ul>
            </div>
            <div class="job-detail-header-tag">
              <ul>
                <li>
                  <a href="#">{{job.language}}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-12 col-12">
          <div class="jd-header-wrap-right">
            <div class="jd-center">
              <a href="#" class="btn btn-primary btn-apply">Ứng tuyển</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- (end) job detail header -->

<div class="clearfix"></div>

<!-- Phần thân -->
<div class="wrapper">
  <div class="container">
    <div class="row">
      <!-- Main wrapper -->
      <div class="col-md-8 col-sm-12 col-12 clear-left">
        <div class="main-wrapper">
          <!-- content -->
          <h2 class="widget-title">
            <span>Mô tả công việc</span>
          </h2>
          <div class="jd-content">
            (*). {{company.description}}.<br>
          </div>
              </div>
      </div>
      <!-- Sidebar -->
      <div class="col-md-4 col-sm-12 col-12 clear-right">
        <div class="side-bar mb-3">
          <h2 class="widget-title">
            <span>Thông tin công ty</span>
          </h2>
          <div class="company-intro">
            <a href="#">
              <img src="http://localhost:8000/storage/company/{{job.company.image}}" class="job-logo-ima" alt="job-logo">
            </a>
          </div>
          <h2 class="company-intro-name">{{company.name}}</h2>
          <ul class="job-add">
            <li>
              <i class="fa fa-map-marker ja-icn"></i>
              <span>{{company.address}}</span>
            </li>
            <li>
              <i class="fa fa-bar-chart ja-icn"></i>Quy mô công ty lên đến :
              <span>{{company.employees}}</span> người
            </li>
          </ul>
        </div>

        <div class="side-bar mb-3">
          <h2 class="widget-title">
            <span>Việc làm tương tự</span>
          </h2>

          <div class="job-tt-contain">
            <div class="job-tt-item">
<div class="info">
              <a href="#">
                <img src="http://localhost:8000/storage/company/{{job.company.image}}" class="job-logo-ima" alt="job-logo">
              </a>
            </div>
              <div class="info">
                <a href="#" class="jobname">
                  [{{job.city.name}}] {{job.title}} – Up
                  to {{job.upto | currency: 'VND'}}
                </a>
                <a href="#" class="company">
                  {{job.category.name}}
                </a>
              </div>
            </div>
        <div class="side-bar mb-3">

          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="home-ads">
                  <a href="#">
                    <img src="../../../../assets/frontend/img/ads1.jpg">
                  </a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- (end) Phần thân -->
